<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apppem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddActivity"
            android:label="Añadir Sensor"/>
        <activity android:name=".SensoresActivity"
            android:label="Ubicación de los sensores"/>
        <activity android:name=".SensoresUbicacionActivity"
            android:label="Lista de Sensores"/>
        <activity android:name=".PerfilActivity"
            android:label="Mi Perfil"/>
        <activity android:name=".ResetPasswordActivity"
            android:label="Nueva Contraseña"/>
        <activity android:name=".LoginActivity"
            android:label="Inicio de Sesión"/>
        <activity
            android:name=".Usuario"
            android:label="@string/titulo_usuario" />
        <activity
            android:name=".Register"
            android:label="@string/titulo_register" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>